    <a href = "/cad/{{dataValues}}"><button>Nova Postagem</button></a>

<h1>Lista de posts: </h1>


{{#each posts}} 
    
    
    <h1>{{dataValues.titulo}}</h1>
    <p>{{dataValues.conteudo}}</p>
    <small>{{dataValues.createdAt}}</small><br>
    <a href = "/deletar/{{dataValues.id}}"><button>Deletar</button></a>
    <hr>
{{/each}}



